@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
:root {
  --black: #000;
  --white: #fff;
  --light-primary-normal: #7143ff;
  --light-primary-strong: #5a36cc;
  --light-primary-heavy: #442899;
  --light-primary-assistive: #e3d9ff;
  --light-primary-alternarive: #aa8eff;
  --light-interaction-primary-hover: rgba(90, 54, 204, 0.05);
  --light-interaction-primary-pressed: rgba(68, 40, 153, 0.08);
  --light-secondary-normal: #28ffb4;
  --light-secondary-strong: #20cc90;
  --light-secondary-heavy: #18996c;
  --light-secondary-assistive: #d4fff0;
  --light-secondary-alternative: #7effd2;
  --light-interaction-secondary-hover: rgba(32, 204, 144, 0.05);
  --light-interaction-secondary-pressed: rgba(24, 153, 108, 0.08);
  --light-status-success: #32e283;
  --light-status-inform: #0ab5ff;
  --light-status-warning: #ffae00;
  --light-status-alert: #ff3f35;
  --light-status-success-bg: #e8f9f0;
  --light-status-inform-bg: #E8F8FF;
  --light-status-warning-bg: #fff7e5;
  --light-status-alert-bg: #ffeceb;
  --light-text-normal: #272727;
  --light-text-strong: #1e1e1e;
  --light-text-heavy: #000;
  --light-text-dlsable: #c3c3c3;
  --light-text-assitive: #828282;
  --light-text-alternative: #494949;
  --light-background-primary: #f5f4f7;
  --light-background-secondary: #fff;
  --light-background-tertiary: #fafafa;
  --light-fill-primary: #f4f4f4;
  --light-fill-alternative: #dedede;
  --light-fill-disable: #ccc;
  --light-filter-low: rgba(0, 0, 0, 0.4);
  --light-filter-high: rgba(0, 0, 0, 0.6);
  --light-filter-carousel: rgba(0, 0, 0, 0.1);
  --light-line-normal: #e9e9e9;
  --light-line-strong: #a7a7a7;
  --light-line-disable: #ccc;
  --light-line-alternative: #f4f4f4;
  --dark-primary-normal: #6b40f2;
  --dark-primary-strong: #5433bf;
  --dark-primary-heavy: #3e258c;
  --dark-primary-assistive: #d7cef2;
  --dark-primary-alternarive: #a187f2;
  --dark-interaction-primary-hover: rgba(84, 51, 191, 0.05);
  --dark-interaction-primary-pressed: rgba(62, 37, 140, 0.08);
  --dark-secondary-normal: #26f2ab;
  --dark-secondary-strong: #1ebf87;
  --dark-secondary-heavy: #168c63;
  --dark-secondary-assistive: #c9f2e4;
  --dark-secondary-alternative: #78f2c7;
  --dark-interaction-secondary-pressed: rgba(22, 140, 99, 0.08);
  --dark-interaction-secondary-hover: rgba(30, 191, 135, 0.05);
  --dark-status-success: #2fd67c;
  --dark-status-warning: #f2a500;
  --dark-status-alert: #f23c32;
  --dark-status-inform: #09acf2;
  --dark-status-success-bg: #ddede4;
  --dark-status-inform-bg: #dcecf2;
  --dark-status-warning-bg: #f2ebda;
  --dark-status-alert-bg: #f2e0df;
  --dark-text-normal: #d8d8d8;
  --dark-text-strong: #e1e1e1;
  --dark-text-heavy: #fff;
  --dark-text-dlsable: #3c3c3c;
  --dark-text-assitive: #7d7d7d;
  --dark-text-alternative: #b6b6b6;
  --dark-background-primary: #0f0f0f;
  --dark-background-secondary: #1e1e1e;
  --dark-background-tertiary: #343434;
  --dark-fill-primary: #343434;
  --dark-fill-alternative: #444;
  --dark-fill-disable: #333;
  --dark-filter-low: rgba(255, 255, 255, 0.2);
  --dark-filter-high: rgba(255, 255, 255, 0.4);
  --dark-filter-carousel: rgba(255, 255, 255, 0.1);
  --dark-line-normal: #494949;
  --dark-line-strong: #626262;
  --dark-line-disable: #333;
  --dark-line-alternative: #343434;
  --palette-primary-50: #f2edff;
  --palette-primary-100: #e3d9ff;
  --palette-primary-200: #c6b4ff;
  --palette-primary-300: #aa8eff;
  --palette-primary-400: #8d69ff;
  --palette-primary-600: #5a36cc;
  --palette-primary-500: #7143ff;
  --palette-primary-700: #442899;
  --palette-primary-800: #2d1b66;
  --palette-primary-900: #170d33;
  --palette-secondary-50: #ebfff8;
  --palette-secondary-100: #d4fff0;
  --palette-secondary-200: #a9ffe1;
  --palette-secondary-400: #53ffc3;
  --palette-secondary-300: #7effd2;
  --palette-secondary-500: #28ffb4;
  --palette-secondary-600: #20cc90;
  --palette-secondary-700: #18996c;
  --palette-secondary-800: #106648;
  --palette-secondary-900: #083324;
  --palette-positive-50: #e8f9f0;
  --palette-positive-100: #d6f9e6;
  --palette-positive-200: #adf4cd;
  --palette-positive-400: #5be89c;
  --palette-positive-300: #84eeb5;
  --palette-positive-500: #32e283;
  --palette-positive-600: #28b569;
  --palette-positive-700: #1e884f;
  --palette-positive-800: #145b34;
  --palette-positive-900: #0a2d1a;
  --palette-warning-50: #fff7e5;
  --palette-warning-200: #ffdf99;
  --palette-warning-100: #ffefcc;
  --palette-warning-300: #ffce66;
  --palette-warning-500: #ffae00;
  --palette-warning-400: #ffbe33;
  --palette-warning-700: #996800;
  --palette-warning-600: #cc8b00;
  --palette-warning-900: #332300;
  --palette-warning-800: #664600;
  --palette-alert-50: #ffeceb;
  --palette-alert-100: #ffd9d7;
  --palette-alert-200: #ffb2ae;
  --palette-alert-300: #ff8c86;
  --palette-alert-400: #ff655d;
  --palette-alert-500: #ff3f35;
  --palette-alert-600: #cc322a;
  --palette-alert-700: #992620;
  --palette-alert-800: #661915;
  --palette-alert-900: #330d0b;
  --palette-inform-50: #e8f8ff;
  --palette-inform-100: #cef0ff;
  --palette-inform-200: #9de1ff;
  --palette-inform-300: #6cd3ff;
  --palette-inform-400: #3bc4ff;
  --palette-inform-500: #0ab5ff;
  --palette-inform-600: #0891cc;
  --palette-inform-700: #066d99;
  --palette-inform-800: #044866;
  --palette-inform-900: #022433;
  --palette-gray-50: #fafafa;
  --palette-gray-100: #f4f4f4;
  --palette-gray-200: #e9e9e9;
  --palette-gray-300: #c3c3c3;
  --palette-gray-400: #a7a7a7;
  --palette-gray-500: #828282;
  --palette-gray-600: #626262;
  --palette-gray-700: #494949;
  --palette-gray-800: #272727;
  --palette-gray-900: #1e1e1e;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"), url("http://www.jjuns-c.com/components/font/woff2/PretendardVariable.woff2"), format("woff2-variations");
}
.title40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
}

.title24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25;
}

.title18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.25;
}

.title16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
}

.title14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25;
}

.title12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.25;
}

.title10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 800;
  line-height: 1.25;
}

.bodyB40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.6;
}

.body40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.body24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}

.body18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

.body16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.body14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
}

.body12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.body10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.6;
}

.button40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.button32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.button24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.button20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.button18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
}

.button16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.button14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}

.button12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

.button10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1;
}

html, a, p, span {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  font-variant-numeric: tabular-nums;
  font-weight: 400;
}

button, b, strong {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}

* {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  color: var(--light-text-normal);
}

body {
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 4rem 0;
  border: 0;
  height: 1px;
  background-color: var(--light-line-normal);
}

mark {
  background: var(--light-primary-normal);
  color: var(--white);
}

::-moz-selection {
  background: var(--light-primary-normal);
  color: var(--white);
}

::selection {
  background: var(--light-primary-normal);
  color: var(--white);
}

pre {
  background-color: var(--light-text-normal);
  padding: 16px;
  margin: 0;
  border-radius: 8px;
}

code {
  color: var(--light-text-dlsable);
}

.mobile {
  display: none;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  overflow-y: scroll;
  background-color: var(--wh);
}

body {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: var(--light-text-normal);
  text-decoration: none;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav,
.footer {
  flex: none;
}

.body {
  position: relative;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}