/* font file */

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../fonts/woff2/Pretendard-Black.woff2') format('woff2'), url('../fonts/woff/Pretendard-Black.woff') format('woff');
} */

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/woff/Pretendard-ExtraBold.woff') format('woff');
} */

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('../fonts/woff/Pretendard-Bold.woff') format('woff');
}

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/woff/Pretendard-SemiBold.woff') format('woff');
} */

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('../fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('../fonts/woff/Pretendard-Regular.woff') format('woff');
}

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../fonts/woff2/Pretendard-Light.woff2') format('woff2'), url('../fonts/woff/Pretendard-Light.woff') format('woff');
} */

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/woff/Pretendard-ExtraLight.woff') format('woff');
} */

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../fonts/woff2/Pretendard-Thin.woff2') format('woff2'), url('../fonts/woff/Pretendard-Thin.woff') format('woff');
} */

/* Title */
.title-48 {
  font-family: 'Pretendard';
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.title-40 {
  font-family: 'Pretendard';
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.title-36 {
  font-family: 'Pretendard';
  font-size: 36px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.title-32 {
  font-family: 'Pretendard';
  font-size: 32px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.title-24 {
  font-family: 'Pretendard';
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.title-20 {
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.title-18 {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.title-16 {
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.title-14 {
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}


/* Body */
.body-24 {
  font-family: 'Pretendard';
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body-20 {
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body-18 {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body-16 {
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body-14 {
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body-12 {
  font-family: 'Pretendard';
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

/* Botton */
.botton-L {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
.botton-M {
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.botton-S {
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

/* Tag */
.tag-L {
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.tag {
  font-family: 'Pretendard';
  font-size: 12px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

/* Caption */
.caption {
  font-family: 'Pretendard';
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

b, strong {
  font-weight: 700;
}