.topics {
  margin: 120px auto 80px;
}

.side {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 120px;
  height: min-content;
  overflow: visible;
}
.navigatorMain {
  width: 180px;
}
.navigatorWrapper {
  display: block;
  width: 180px;
  position: sticky;
  top: 120px;
  left: 0;
}

.naviTitle {
  width: 100%;
}

.navigator {
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  height: 100%;
  gap: 4px;
  display: flex;
}

.menuWrapper {
  flex-shrink: 0;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.menuWrapper:hover,
.menuWrapper:active {
  background-color: var(--gray-100);
}

.menu {
  flex-shrink: 0;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  display: inline-flex;
  align-items: center;
  color: var(--gray-900);
}

.storyMain {
  width: calc(100% - 300px);
}
.storyTitle {
  margin-bottom: 40px;
}
.titleMain {
  margin-bottom: 8px;
}

img {
  width: 100%;
}
/* Tablet(세로) (해상도 768px ~ 1023px)*/
@media all and (max-width: 1023px) {
  /*스타일입력*/
}

/* Moblie(가로) (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .mm {
    display: block;
  }
}

/* Moblie(세로) (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  /*스타일입력*/
}
