.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--white);
  /* background: linear-gradient(135deg, #f9f9f9 48%, #ebebeb 48%, #ebebeb 78%, #f9f9f9 78%); */
}

/* 상단 타이틀 */
.container {
  margin: 160px auto 0;
}

.texts {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  /* width: 100%; */
  row-gap: 40px;
}

.heading {
  font-size: 64px;
  font-weight: 900;
  transition: 1s ease;
}

.description {
  color: var(--gray900);
  font-weight: 400;
  text-align: left;
  letter-spacing: normal;
}

/* 브랜드 */
.boxs {
  margin: 160px 0;
  display: table;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.boxs .box_size {
  /* position: relative; */
  height: auto;
  transition: margin 0.5s;
  /* float: left; */
  max-width: calc((100% - 40px) / 3);
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--gray900);
  background-color: var(--gray100);
}
.boxs div.box_size {
  border: 0;
  background-color: var(--whites);
  border-radius: 0;
}

.boxs .box_bran {
  width: 100%;
  background-color: var(--gray900);
}

.boxs .box_one {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 160px 0;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.box_title {
  color: var(--white);
}
.boxs .box_two {
  /* min-height: 400px; */
  aspect-ratio: 1;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}
.boxs .box_size:hover {
  background-color: var(--white);
  border: 2px solid var(--gray900);
  box-shadow: 5px 5px var(--gray700);
  -webkit-transform: translateY(-5px) translateX(-5px);
  transform: translateY(-5px) translateX(-5px);
}
.boxs div.box_size:hover {
  border: 0;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
.boxs .box_text {
  width: 100%;
  display: grid;
  gap: 8px;
}
.boxs .box_info {
  /* min-height: 400px; */
  aspect-ratio: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svgSize {
  width: 48px;
  height: 48px;
}

/* video */
.visual_area {
  height: 540px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.pc_video {
  display: block;
}
.mobile_video {
  display: none;
}
.visual_area video {
  height: 100%;
  left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 1179px) {
  .texts {
    margin: 0 24px;
  }

  .boxs .box_one {
    padding: 160px 24px;
  }
}

@media (max-width: 1023px) {
  .container {
    flex-direction: column-reverse;
    margin: 96px auto;
  }
}

@media (max-width: 767px) {
  .boxs {
    margin: 80px 0;
  }
  .heading {
    font-size: 56px;
  }
  .pc_video {
    display: none;
  }
  .mobile_video {
    display: block;
  }
  .boxs {
    gap: 0;
  }
  .boxs .box_size {
    max-width: calc(100%);
    border: 0;
    border-top: 1px solid var(--gray200);
    background-color: var(--white);
  }
  .boxs .box_size:hover {
    background-color: var(--gray100);
    border: 0;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
  }
  .boxs .box_two,
  .boxs .box_info {
    aspect-ratio: 4/3;
    padding: 32px;
  }
  .svgSize {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 639px) {
  .heading {
    font-size: 3rem;
  }
}
