:root {
    /* main color */
    --main-color: #00c389;
    --main-color-sec: #e3f6ee;

    /* seb color */
    --seb-color: #00996b;
    --seb-color-sec: #dcede9;

    /* point color */
    --point: #ff7a00;
    --point-seb: #ffe9d8;

    /* alert color */
    --success-color: #5cb85c;
    --error-color: #ff3153;
    --warning-color: #f9a825;
    --informational-color: #0091ea;
    --success-color-seb: #e7f5e7;
    --warning-color-seb: #fffde7;
    --informational-color-seb: #e2f1fc;
    --error-color-seb: #ffeaef;

    /* gray color */
    --black: #1e1e1e;
    --gray-900: #272727;
    --gray-800: #343434;
    --gray-700: #494949;
    --gray-600: #626262;
    --gray-500: #828282;
    --gray-400: #a7a7a7;
    --gray-300: #c3c3c3;
    --gray-200: #e9e9e9;
    --gray-100: #f4f4f4;
    --gray-50: #fafafa;
    --white: #ffffff;
    --white-50: #ffffff80;

    /* filter color */
    --filter-40: #0006;
    --filter-60: #0009;
    --carousel: #00000019;

    /* ur color */
    --ur-main: #0064dc;
    --ur-seb: #f2f8fd;

}