/** Noto Sans(Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

/** PretendardVariable(font file) */

@font-face {
  font-family: "PretendardVariable";
  font-weight: 900;
  font-display: swap;
  src: local("PretendardVariable Black"),
    url("../components/font/woff2/PretendardVariable.woff2") format("woff2");
}

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 800;
	font-display: swap;
	src: local('PretendardVariable ExtraBold'), url('../components/font/woff2/PretendardVariable-ExtraBold.woff2') format('woff2');
} */

@font-face {
  font-family: "PretendardVariable";
  font-weight: 700;
  font-display: swap;
  src: local("PretendardVariable Bold"),
    url("../components/font/woff2/PretendardVariable.woff2") format("woff2");
}

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 600;
	font-display: swap;
	src: local('PretendardVariable SemiBold');
} */

@font-face {
  font-family: "PretendardVariable";
  font-weight: 500;
  font-display: swap;
  src: local("PretendardVariable Medium"),
    url("../components/font/woff2/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: "PretendardVariable";
  font-weight: 400;
  font-display: swap;
  src: local("PretendardVariable Regular"),
    url("../components/font/woff2/PretendardVariable.woff2") format("woff2");
}

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 300;
	font-display: swap;
	src: local('PretendardVariable Light'), url('../components/font/woff2/PretendardVariable-Light.woff2') format('woff2');
} */

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 200;
	font-display: swap;
	src: local('PretendardVariable ExtraLight'), url('../components/font/woff2/PretendardVariable-ExtraLight.woff2') format('woff2');
} */

/* @font-face {
	font-family: 'PretendardVariable';
	font-weight: 100;
	font-display: swap;
	src: local('PretendardVariable Thin'), url('../components/font/woff2/PretendardVariable-Thin.woff2') format('woff2');
} */

:root {
  --PretendardVariable: "PretendardVariable";
  --font: "PretendardVariable Variable", PretendardVariable, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-family: var(--font);
  font-weight: 500;
  color: var(--gray-900);
}

a,
p,
span {
  font-family: var(--font);
  font-weight: 500;
}

button,
b,
strong {
  font-family: var(--font);
  font-weight: 700;
}

/* Title */
.title40x {
  font-family: var(--PretendardVariable);
  font-size: 2.5rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title32x {
  font-family: var(--PretendardVariable);
  font-size: 2rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title24x {
  font-family: var(--PretendardVariable);
  font-size: 1.5rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title20x {
  font-family: var(--PretendardVariable);
  font-size: 1.25rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title18x {
  font-family: var(--PretendardVariable);
  font-size: 1.125rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.title14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

/* Body */
.bodyB24x {
  font-family: var(--PretendardVariable);
  font-size: 1.5rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body24x {
  font-family: var(--PretendardVariable);
  font-size: 1.5rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.bodyB20x {
  font-family: var(--PretendardVariable);
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body20x {
  font-family: var(--PretendardVariable);
  font-size: 1.25rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.bodyB18x {
  font-family: var(--PretendardVariable);
  font-size: 1.125rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body18x {
  font-family: var(--PretendardVariable);
  font-size: 1.125rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.bodyB16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body16x_story {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}

.body16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.bodyB14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.bodyB12x {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body12x {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.body12x_discounted-price {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-decoration-line: line-through;
}

/* Tag */
.tag14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.tag12x {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.tag10x {
  font-family: var(--PretendardVariable);
  font-size: 0.625rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

/* Checkbox */
.checkbox16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.checkbox14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

/* Text-fields */
.fieldB16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.field16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.field12x {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.field10x {
  font-family: var(--PretendardVariable);
  font-size: 0.625rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

/* Button */
.button16x {
  font-family: var(--PretendardVariable);
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.button14x {
  font-family: var(--PretendardVariable);
  font-size: 0.875rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.caption {
  font-family: var(--PretendardVariable);
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}
