.menuSize {
  width: 44px;
  height: 44px;
  z-index: 99999999;
  justify-content: center;
  align-items: center;
  display: none;
}

#checkBox {
  display: none;
}

#checkBox + label {
  position: relative;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 99999;
  padding: 0;
}

#checkBox + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: .25rem;
  background: var(--light-text-normal);
  transition: all 600ms;
}
#checkBox:checked + label > span:nth-child(1) {
  top: calc(50% - 2px);
  transform: rotate(45deg);
}

#checkBox + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

#checkBox:checked + label > span:nth-child(2) {
  opacity: 0;
}

#checkBox + label > span:nth-child(3) {
  bottom: 0;
}

#checkBox:checked + label > span:nth-child(3) {
  bottom: calc(50% - 2px);
  transform: rotate(-45deg);
}
#checkBox:checked {
}
#sideMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  right: -200%;
  transition: all 290ms;
  z-index: 1;
  top: 0px;
  padding: 56px 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
}

#checkBox:checked + label + #sideMenu {
  right: 0;
}

@media (max-width: 1023px) {
  .menuSize {
    display: flex;
  }
}
